<!DOCTYPE html>
<html lang="en">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Eater' rel='stylesheet'>
<head>
    <title>Ma page à moi</title>
</head>
<body>
	<CENTER><img src="https://thumbs.gfycat.com/EuphoricDisguisedAmethystinepython-size_restricted.gif" alt="" width = 1100 height = 700>
	<h1 style="color:white; font-family:'Eater'">Bienvenue!</h1>

<form action="/form" method="get">
    	<input type="submit" value="Entrez si vous l'osez">
</form>
<!--
<div class="background-container">
<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/moon2.png" alt="">
<div class="stars"></div>
<div class="twinkling"></div>
<div class="clouds"></div>
<div class="door"></div>
!-->
</body>
</html>
